<?php
require __DIR__ . '/vendor/autoload.php';

$config = [
    "directory-index" => "index.php",
    "allowed-hosts" => [],
    "allow-origin" => true,
    "handle-404" => false,
    "cache" => 0,
    "log" => true
];
return (new Chansig\Router\PhpRouter($config))->run();